.ok {
   color: #ffffff;
}

.apresenta {
    color: white;
    padding-top: 0.5%;
    margin-top: 0;}

.tudo {
    align-items: center;
}

.label{
    align-items: center;
}

.centeredContainer {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }