
.apresenta {
    color: white;
    background-color: rgb(118, 81, 62);
    padding-bottom: 1%;
    padding-top: 0.5%;
    margin-top: 0;
    
}



header { 
    position: relative; 
    top: initial;
    background-color: grey;    
    text-align: center;
    margin: 0;
}

body {
    margin: 0;
}

.centralizado {
    display: flex;
    justify-content: center;
    position: relative;
}
